<a href="https://colab.research.google.com/github/HYYEO78/fyp2/blob/main/ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import datetime

CHINESE_1990_2100 = [
    51397716,54792469,205819985,55641108,55656721,206770449,51450948,54608977,207688017,51397716,
    219177285,54792273,55641105,222610449,54858000,55645252,220483908,54595909,205589781,51396885,
    54792261,219451461,51659793,51663120,219366673,50611476,54595861,207684693,51396885,206594324,
    55644228,55854097,206685249,51463249,50611476,218895444,54592596,222366801,55591185,55644228,
    222638148,54858001,51450948,219353413,50598225,54592593,224461893,54804753,219433233,51662916,
    54858001,205833489,51401028,54792517,206311701,51446853,219219524,55853329,51659844,219243588,
    54805777,51397908,219300948,54792469,51446804,223937556,55656721,205854993,51450948,54596689,
    205623633,51397713,54792273,222695505,55641105,222578193,54858000,54858820,218394948,54595909,
    51396933,219300117,54792261,219418725,51659793,51663120,219243792,54805780,54595861,205620309,
    51396885,51646533,207163460,55854097,206640657,51463248,54805780,218403921,54592596,55591188,
    222707985,55644228,55657489,207950097,51450948,219224389,50598225,54592593,222397509,54804753,
    54857796,219563076,54808849,205800849,51397956,54792517,205795605,51446853,54804741,206979345,
    51659844,54808849,207701265,51397908,219178068,54792276,55641108,223446036,55644421,51463236,
    207164484,54596689,205590873,51397713,54792273,222572613,55641105,55644420,222662928,54858052,
    51450961,207688005,51396933,219171093,54792261,54805521,219464721,51663108,54808900,206325012,
    54592789,205588053,51396885,51646533,206647364,55854097,51659844,219354192,54805588,54592596,
    222889044,55591188,222578961,55644228,55657489,205885713,51450948,54793297,205918545,51446865,
    219219525,54804753,54857796,219440196,54808849,51450180,219301188,54792517,51446853,219743253,
    51659013,206838021,51659844,54808849,205636881,51397908,54792469,205918292,55640340,223413780,
    55644420,55657540,206648388,51450961,51397716,219300177,54789201,55640337,224723985,55644420,
]

CHANGE_1990_2100_24 =  [
    485536035763181,489951330300910,491395512218606,561397770413033,485536035763182,489951263192046,
    491395512218606,561397770347497,485536035763181,489951263192046,491395512218606,561397770413033,
    467943782609901,485536036811758,491119561356270,491029026238425,467943581279209,485536036811757,
    491119561356270,491029026238425,467939286311913,485536036811757,489951330251758,491029026238425,
    467939286311913,485536035763181,489951330300910,491029009460889,467939282052073,485536035763181,
    489951330300910,491029026238105,467939282052073,485536035763181,489951263192046,491029009460889,
    467939282052073,485536035763181,489951263192046,491029009460889,467939282052073,485536035763181,
    489951263192046,491027935719065,467939282055129,467943849714669,485536036811758,490753057549977,
    397570537877465,467939286246381,485536036811758,490753057549977,397570537877465,467939286311913,
    485536035763181,490684338073241,397570537877465,467939282052073,485536035763181,489584826429081,
    397570521099929,467939282052073,485536035763181,489584826429081,397570521099929,467939282052073,
    485536035763181,489584759320217,397570521099929,467939282052073,485536035765997,489584759320217,
    397569447358105,467939282052073,485536035759085,489567579451033,397569447095961,467939282055145,
    485535767323629,489567579451033,397569447095961,467939282055129,467939286311917,485169531891353,
    397294569189017,397570537877465,467939282117609,485169531891352,397225849695897,397570521100249,
    467939282052073,485169532939928,396126338068121,397570521099929,467939282052073,485169531891352,
    396126270959257,397570521099929,467939282052073,485169531891352,396126270959257,397570521099929,
    467939282052073,485169531891352,396126270959257,397569447095961,467939282052073,485169531887256,
    396109091090073,397569447095961,467939282055145,485169263451800,396109090041497,397569447095961,
    467939282055129,467572782440088,391711043530393,397294569189017,397570521100249,467572778180248,
    391711043530392,397225849695897,397570521100249,467572778180244,391711043530392,396126270959257,
    397570521099929,467572778180244,391711043530392,396126270959257,397570521099929,467572778180244,
    391711043530392,396126270959257,397569447095961,467572778180244,391711043530392,396126270959257,
    397569447095961,466473266552468,391710775090840,396109091090073,397569447095961,467572778179220,
    391706480123544,396109090041497,397569447095961,467572761401988,374114289819288,391711043530393,
    397225849695897,379611831179908,374114289819288,391711043530393,397208602717849,397204017224324,
    374114289819284,391711043530392,397225782587033,397204017224004,374114289819284,391711043530392,
    396126270959257,397204017224004,374114289819284,391711043530392,396126270959257,397202943220036,
    374114289819284,391710775029400,396126270959257,397202943220036,374114289818260,391710775090840,
    396109090041497,397202943220036,374114289818260,391706475929240,396109090041497,397202943220036,
    375213784668804,391706475863704,391711043530393,397134223726916,303745528601220,374114289819288,
    391711043530393,397134156618052,303745528846724,374114289819284,391711043530392,397134156618052,
    303745528863044,374114289819284,391711043530392,396034644990276,303745528600900,374114289819284,
    391711043530392,396126270959257,
]
CHINESE_60= [
    '0000','0101','0202','0303','0404','0505','0606','0707','0808','0909','0010','0111',
    '0200','0301','0402','0503','0604','0705','0806','0907','0008','0109','0210','0311',
    '0400','0501','0602','0703','0804','0905','0006','0107','0208','0309','0410','0511',
    '0600','0701','0802','0903','0004','0105','0206','0307','0408','0509','0610','0711',
    '0800','0901','0002','0103','0204','0305','0406','0507','0608','0709','0810','0911',
]

CHINESE_24_1 = [
    u"小寒",u"大寒",u"立春",u"雨水",u"驚蟄",u"春分",u"清明",u"穀雨",u"立夏",u"小滿",u"芒種",u"夏至",
    u"小暑",u"大暑",u"立秋",u"處暑",u"白露",u"秋分",u"寒露",u"霜降",u"立冬",u"小雪",u"大雪",u"冬至",
]

CHINESE_10_1 = [u"甲",u"乙",u"丙",u"丁",u"戊",u"己",u"庚",u"辛",u"壬",u"癸",]
CHINESE_12_1 = [u"子",u"丑",u"寅",u"卯",u"辰",u"巳",u"午",u"未",u"申",u"酉",u"戌",u"亥",]
CHINESE_12_2 = [u"鼠",u"牛",u"虎",u"兔",u"龍",u"蛇",u"馬",u"羊",u"猴",u"雞",u"狗",u"豬",]

In [ ]:
def helper_days_list():
    chinese_years_data =49
    chinese_years_list = [49]
    change_dict = { '00':29, '01':30, '10':29,'11':30,}

    for i in CHINESE_1990_2100:
        a = bin(i)
        b = [ a[i:i+2] for i in range(0, len(a),2)][2:] #转为二进制的列表
        c = sum([ int(change_dict[x]) if x in change_dict else int(x) for x in b]) #转为十进制的列表
        chinese_years_data = chinese_years_data + c #得出年初的天数
        chinese_years_list.append(chinese_years_data) #添加进列表
    return chinese_years_list #返回列表

In [ ]:
def helper_days_60_list():
    chinese_years_data = 1901
    chinese_years_list = []
    change_dict = { '00':'2', '01':'3', '10':'4','11':'5',}

    for t in range(len(CHANGE_1990_2100_24)):
        a = bin(CHANGE_1990_2100_24[t])
        a = a[3:]
        b = [ a[i:i+2] for i in range(0, len(a),2)][2]#转为二进制的列表
        c = int(change_dict[b]) #立春的天数
        english_days = datetime.date(chinese_years_data+t,2,c) - datetime.date(1901,1,1)
        chinese_years_list.append(english_days.days) #添加进列表

    return chinese_years_list #返回列表

In [ ]:
def helper_month_60_data_find(value,li):
    chinese_month_data_find = [ (i,li.index(i))  for i in li if i <= value ][-1]
    return [chinese_month_data_find[0],chinese_month_data_find[1],1+ chinese_month_data_find[1],value-chinese_month_data_find[0]+1]

In [ ]:
def helper_year_60_data_find(value,li):
    chinese_year_data_find = [ (i,li.index(i))  for i in li if i <= value ][-1]
    return [chinese_year_data_find [0],chinese_year_data_find [1],1901+chinese_year_data_find [1],value-chinese_year_data_find[0]]



def helper_month_data_find(value,li):
    chinese_month_data_find = [ (i,li.index(i))  for i in li if i <= value ][-1]
    return [chinese_month_data_find[0],chinese_month_data_find[1],1+ chinese_month_data_find[1],value-chinese_month_data_find[0]+1]

def helper_year_data_find(value,li):
    chinese_year_data_find = [ (i,li.index(i))  for i in li if i <= value ][-1]
    return [chinese_year_data_find [0],chinese_year_data_find [1],1901+chinese_year_data_find [1],value-chinese_year_data_find[0]]


def change(chinese_year,chinese_month,chinese_day):
    CHANGE_MONTHS = { '00':29, '01':30, '10':29,'11':30,}
    chinese_years_days = helper_days_list() #旧历年，初一的天数
    english_year_days = chinese_years_days[chinese_year-1901]

    english_month_days = CHINESE_1990_2100[chinese_year-1901]
    a = bin(english_month_days)
    b = [ a[i:i+2] for i in range(0, len(a),2)][2:]
    b_len= len(b)
    if b_len == 13:
        r = [ (i,b.index(i))  for i in b if i=='10' or i=='11'] #判断那个月是闰月
        c = [ CHANGE_MONTHS[x] if x in CHANGE_MONTHS else x for x in b]
        d = [ sum(c[0:i]) for i in range(len(c))]
        if chinese_month<r[0][1]:
            e = d[chinese_month-1]
            english_days = datetime.date(1901,1,1)  + datetime.timedelta (english_year_days + e + chinese_day-1)
            li = english_days.strftime('%Y-%m-%d').split('-')
            print (li)
            return [li]
        elif chinese_month>r[0][1]:
            e = d[chinese_month]
            english_days = datetime.date(1901,1,1)  + datetime.timedelta (english_year_days + e + chinese_day-1)
            li = english_days.strftime('%Y-%m-%d').split('-')
            print (li)
            return [li]
        else:
            e1 = d[chinese_month-1]
            english_days_1 = datetime.date(1901,1,1)  + datetime.timedelta (english_year_days + e1 + chinese_day-1)
            li1 = english_days_1.strftime('%Y-%m-%d').split('-')
            e2 = d[chinese_month]
            english_days_2 = datetime.date(1901,1,1)  + datetime.timedelta (english_year_days + e2 + chinese_day-1)
            li2 = english_days_2.strftime('%Y-%m-%d').split('-')
            print ([li1, li2])
            return [li1, li2]
    else:
        c = [ CHANGE_MONTHS[x] if x in CHANGE_MONTHS else x for x in b]
        d = [ sum(c[0:i]) for i in range(len(c))][chinese_month-1]
        english_days = datetime.date(1901,1,1)  + datetime.timedelta (english_year_days + d + chinese_day-1)
        li = english_days.strftime('%Y-%m-%d').split('-')
        print ([li])
        return [li]

def day_49(english_year,english_month,english_day):
    english_days = datetime.date(english_year,english_month,english_day) - datetime.date(1901,1,1)
    english_days = english_days.days  #获取输入日期的天数
    chinese_year = '1900'
    chinese_month = '12' if english_days>18 else '11'
    chinese_day = english_days+11 if chinese_month=='11' else english_days-18
    #print chinese_year +'-' + chinese_month +'-' + str(chinese_day)

    chinese_year_60 = '0600' if english_days<34 else '0701'  #庚子 '辛丑'
    chinese_month_60 = u'戊子' if english_days<6 else (u'乙丑' if english_days<34 else u'庚寅' )

    v4 = datetime.date(english_year,english_month,english_day) - datetime.date(1900,12,17) #日干支
    v5 = v4.days%60

    f1 = str(english_year) + '-' +str(english_month) + '-' +str(english_day)
    f2 =  chinese_year +'-' + chinese_month +'-' + str(chinese_day)
    a = CHINESE_10_1[int(chinese_year_60[0:2])]+CHINESE_12_1[int(chinese_year_60[2:4])]
    c = CHINESE_10_1[int(CHINESE_60[v5][0:2])]+CHINESE_12_1[int(CHINESE_60[v5][2:4])]

    f3 = a  + '-' + chinese_month_60 + '-' + c
    f4 = f4 = CHINESE_12_2[int(CHINESE_60[v5][2:4])]
    print (u'输入:[' +f1+ u']; 输出:[' +f2+ u']; 天干地支:[' +f3+ u']; 生肖:[' +f4 +']')

    return [f1,f2,f3,f4]

def helper_verify_year(english_year):
    errors = 0
    english_year_error = 0
    if english_year <1901:
        errors = errors + 1
        english_year_error = 1
    elif english_year >2100:
        errors = errors + 1
        english_year_error = 2
    return [english_year_error,errors]

def helper_verify_month(english_month):
    errors = 0
    english_year_error = 0
    if english_year <1:
        errors = errors + 1
        english_year_error =3
    elif english_year >12:
        errors = errors + 1
        english_year_error = 4
    return [english_year_error,errors]

def helper_verify_day(english_year,english_month,english_day):
    a  = (datetime.date(english_year,english_month+1,1) - datetime.date(english_year,english_month,1)).days
    errors = 0
    english_day_error = 0
    if english_day <1:
        errors = errors + 1
        english_day_error =5
    elif english_day >a:
        errors = errors + 1
        english_day_error = 6
    return [english_day_error,errors]

def helper_verify_day_60(chinese_year,chinese_month,chinese_day):
    errors = 0
    chinese_day_error = 0

    CHANGE_MONTHS = { '00':29, '01':30, '10':29,'11':30,}
    english_month_days = CHINESE_1990_2100[chinese_year-1901]
    #print english_month_days
    a = bin(english_month_days)
    b = [ a[i:i+2] for i in range(0, len(a),2)][2:]
    #print b
    b_len= len(b)
    if b_len == 13:
        r = [ (i,b.index(i))  for i in b if i=='10' or i=='11'] #判断那个月是闰月
        c = [ CHANGE_MONTHS[x] if x in CHANGE_MONTHS else x for x in b]
        #d = [ sum(c[0:i]) for i in range(len(c))]
        e = None
        if chinese_month<r[0][1]:
            e = c[chinese_month-1]
        elif chinese_month>r[0][1]:
            e = c[chinese_month]
        else:
            e1 = c[chinese_month-1]
            e2 = c[chinese_month]
            e = max([e1,e2])

        #print e
        if chinese_day <1:
            errors = errors + 1
            chinese_day_error =5
        elif chinese_day >e:
            errors = errors + 1
            chinese_day_error = 6
        return [chinese_day_error,errors]

    else:
        c = [ CHANGE_MONTHS[x] if x in CHANGE_MONTHS else x for x in b]
        e = c[chinese_month-1]
        if chinese_day <1:
            errors = errors + 1
            chinese_day_error =5
        elif chinese_day >e:
            errors = errors + 1
            chinese_day_error = 6
        return [chinese_day_error,errors]

In [ ]:
def day(english_year,english_month,english_day):
    #旧历的计算
    chinese_years_days = helper_days_list()
    english_days = datetime.date(english_year,english_month,english_day) - datetime.date(1901,1,1)
    english_days = english_days.days  #获取输入日期的天数
    if english_days <50:
        d49 = day_49(english_year,english_month,english_day)
        return d49
    chinese_year_list = helper_year_data_find(english_days,chinese_years_days) #获得年位置 [33271, 91, 1992, 16]

    change_dict = { '00':29, '01':30, '10':29,'11':30,}
    a = bin(CHINESE_1990_2100[chinese_year_list[1]])
    b = [ a[i:i+2] for i in range(0, len(a),2)][2:] #二进制列表
    c = [ change_dict[x] if x in change_dict else x for x in b]#十进制列表

    d = [ sum(c[0:i]) for i in range(len(c))] #月份的天数
    chinese_month_list = helper_month_data_find(chinese_year_list[3] ,d) #获得月位置 [0, 0, 1, 17]
    chinese_month_list_2 = chinese_month_list[2]
    b_len= len(b)
    if b_len == 13:
        r = [ (i,b.index(i))  for i in b if i=='10' or i=='11'][0]
        chinese_month_list_2 = chinese_month_list_2-1  if chinese_month_list_2 > r[1]  else chinese_month_list_2

    #天干地支的计算
    chinese_years_days_60 = helper_days_60_list()
    chinese_year_list = helper_year_60_data_find(english_days,chinese_years_days_60) #获得年干支位置[1130, 3, 1904, 60]
    year_60_list = CHINESE_60 + CHINESE_60 +CHINESE_60 + CHINESE_60 + CHINESE_60
    year_60_list = year_60_list [37:37+200] #生成年干支列表
    #print CHINESE_10_1[int(year_60_list[chinese_year_list[1]][0:2])]

    e = bin(CHANGE_1990_2100_24[chinese_year_list[1]])#解析24气节的数据
    e = e[3:]
    f = [ e[i:i+2] for i in range(0, len(e),2)]#去除保留数值
    g = [ f[i] for i in range(2,len(f),2)]
    a1= { '00':'2', '01':'3', '10':'4','11':'5',}
    a2= { '00':'4', '01':'5', '10':'6','11':'7',}
    a3= { '00':'9', '01':'6', '10':'7','11':'8',}
    g_list = [a1[g[0]],a2[g[1]],a2[g[2]],a2[g[3]],a2[g[4]],a3[g[5]],a3[g[6]],a3[g[7]],a3[g[8]],a3[g[9]],a3[g[10]],]#转换为１０进制的列表

    e2 = bin(CHANGE_1990_2100_24[chinese_year_list[1]+1])#获取向前一年的u"小寒",u"大寒"
    e2 = e2[3:]
    f2 = [ e2[i:i+2] for i in range(0, len(e2),2)]
    g2 = [ f2[i] for i in range(0,len(f2),2)]
    g_list = g_list + [a2[g2[0]]] #生成完整的10进制列表

    g_list_new = []
    for v in range(11):
        v_day  = datetime.date(chinese_year_list[2],2+v,int(g_list[v])) - datetime.date(chinese_year_list[2],2,int(g_list[0]))
        g_list_new.append(v_day.days )
    v_day_2  = datetime.date(chinese_year_list[2]+1,1,int(g_list[11])) - datetime.date(chinese_year_list[2],2,int(g_list[0]))
    g_list_new.append(v_day_2.days) #生成月干支天数，数据列表
    chinese_month_days_60  = helper_month_60_data_find(chinese_year_list[3],g_list_new)#获得月干支位置[60, 2, 3, 1]

    year_value_key = int(year_60_list[chinese_year_list[1]][0:2]) #年干
    year_value =  year_value_key if year_value_key <= 4 else year_value_key-5 #通过年干支定位月干支列表
    v1 = CHINESE_10_1 + CHINESE_10_1 + CHINESE_10_1
    month_value = 2 +(year_value*2)#获取开始位置的公式
    v2 = v1[month_value:month_value+12] #生成月干
    v3 = CHINESE_12_1[2:] + CHINESE_12_1[0:2]#生成月支，因为一月为u"寅"
    #print v2[chinese_month_days_60[1]] + v3[chinese_month_days_60[1]]

    v4 = datetime.date(english_year,english_month,english_day) - datetime.date(1901,2,15) #日干支
    v5 = v4.days%60
    #print CHINESE_10_1[int(CHINESE_60[v5][0:2])] +CHINESE_12_1[int(CHINESE_60[v5][2:4])]
    f1 = str(english_year) + '-' +str(english_month) + '-' +str(english_day)
    f2 = str(chinese_year_list[2]) + '-' + str(chinese_month_list_2) + '-' + str(chinese_month_list[3])
    f3 = CHINESE_10_1[int(year_60_list[chinese_year_list[1]][0:2])]+CHINESE_12_1[int(year_60_list[chinese_year_list[1]][2:4])] + '-' + v2[chinese_month_days_60[1]]+v3[chinese_month_days_60[1]]  + '-' + CHINESE_10_1[int(CHINESE_60[v5][0:2])]+CHINESE_12_1[int(CHINESE_60[v5][2:4])]
    f4 = CHINESE_12_2[int(year_60_list[chinese_year_list[1]][2:4])] #生肖
    f5 = CHINESE_10_1[int(CHINESE_60[v5][0:2])] #日的天干
    yearGan = CHINESE_10_1[int(year_60_list[chinese_year_list[1]][0:2])]
    yearZhi = CHINESE_12_1[int(year_60_list[chinese_year_list[1]][2:4])]
    monthGan =v2[chinese_month_days_60[1]]
    monthZhi = v3[chinese_month_days_60[1]]
    dayGan = CHINESE_10_1[int(CHINESE_60[v5][0:2])]
    dayZhi = CHINESE_12_1[int(CHINESE_60[v5][2:4])]
    #print (u'输入:[' +f1+ u']; 输出:[' +f2+ u']; 天干地支:[' +f3+ u']; 生肖:[' +f4 +'];' )
    print(f3)
    #print ('yearGan'+yearGan)
    #print ('yearZhi'+yearZhi)
    #print ('monthGan'+monthGan)
    #print ('monthZhi'+monthZhi)
    #print ('dayGan'+dayGan)
    #print ('dayZhi'+dayZhi)

    #return [f3,f4,f5]
    return [f3]

In [ ]:
 a = day(1987,8,13)

丁卯-戊申-甲午

In [ ]:
# To load an Excel file in Google Colab, you need to use the pandas library.
# First, make sure you have pandas installed. You can install it using the following command:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
# Import the pandas library
import pandas as pd

In [ ]:
# Load the Excel file
# Replace 'your_file.xlsx' with the path to your Excel file
file_path = '/content/deduped_file20.xlsx'
df = pd.read_excel(file_path)

# Display the first few rows of the dataframe
df.head()

,Name,Birthday,Year,Month,Day,Age,Net Worth (billions),Source of Wealth,Industry type,Industry Element,Secondary indystry element
0,Elon Musk,1971-06-28,1971,6,28,53,270.1,X,Technology,fire,NaN
1,Elon Musk,1971-06-28,1971,6,28,53,270.1,SpaceX,Aviation,fire,NaN
2,Elon Musk,1971-06-28,1971,6,28,53,270.1,"Tesla, Inc.",Automotive,metal,NaN
3,Elon Musk,1971-06-28,1971,6,28,53,270.1,The Boring Company,Infrastructure and Construction,earth,NaN
4,Elon Musk,1971-06-28,1971,6,28,53,270.1,X.com,Technology,fire,NaN

In [ ]:
#from os import makedirs
# Function to loop through 'year', 'month', and 'day' columns
def loop_through_columns(df):
    for index, row in df.iterrows():
        yyear = row['Year']
        mmonth = row['month']
        dday = row['Day']
        a = day(yyear, mmonth, dday)
        new_column.append(a)

    df['bazi'] = new_column

In [ ]:
# Function to loop through 'Year', 'month', and 'Day' columns and add a new column with the return of 'a'
def loop_through_columns(df):
    new_column = []
    for index, row in df.iterrows():
        yyear = row['Year']
        mmonth = row['Month']
        dday = row['Day']
        a = day(yyear, mmonth, dday)
        new_column.append(a)

    df['bazi'] = new_column

# Call the function
loop_through_columns(df)

# Display the updated DataFrame
print(df)

辛亥-甲午-甲申
辛亥-甲午-甲申
辛亥-甲午-甲申
辛亥-甲午-甲申
辛亥-甲午-甲申
辛亥-甲午-甲申
辛亥-甲午-甲申
辛亥-甲午-甲申
辛亥-甲午-甲申
癸卯-乙丑-庚申
癸卯-乙丑-庚申
癸卯-乙丑-庚申
乙未-丙戌-壬戌
乙未-丙戌-壬戌
乙未-丙戌-壬戌
乙未-丙戌-壬戌
乙未-丙戌-壬戌
庚戌-己丑-丁未
丁酉-甲辰-辛酉
丁酉-甲辰-辛酉
丁酉-甲辰-辛酉
丁酉-甲辰-辛酉
丁酉-甲辰-辛酉
庚午-甲申-壬子
癸丑-丁巳-庚午
乙卯-癸未-丙辰
乙卯-癸未-丙辰
乙卯-癸未-丙辰
戊辰-乙卯-丁卯
戊辰-乙卯-丁卯
甲午-壬申-辛酉
己酉-丁卯-己丑
甲子-己巳-戊申
己卯-丁丑-庚午
己卯-丁丑-庚午
己卯-丁丑-庚午
己卯-丁丑-庚午
甲申-壬申-癸丑
甲申-壬申-癸丑
甲申-壬申-癸丑
甲申-壬申-癸丑
己卯-丁丑-庚午
己卯-丁丑-庚午
己卯-丁丑-庚午
丙申-辛卯-庚寅
丙申-辛卯-庚寅
庚子-辛巳-癸卯
庚子-辛巳-癸卯
己卯-丁丑-庚午
己卯-丁丑-庚午
癸丑-庚申-己丑
己卯-丁丑-庚午
己卯-丁丑-庚午
戊子-戊午-癸亥
己丑-癸酉-乙丑
己丑-癸酉-乙丑
甲申-甲戌-甲子
己丑-癸酉-乙丑
己丑-癸酉-乙丑
乙巳-戊寅-戊申
甲午-甲戌-癸丑
甲午-甲戌-癸丑
甲午-甲戌-癸丑
癸酉-己未-壬寅
癸酉-己未-壬寅
癸酉-己未-壬寅
癸酉-己未-壬寅
癸丑-乙卯-辛酉
癸酉-己未-壬寅
癸酉-己未-壬寅
癸酉-己未-壬寅
癸酉-己未-壬寅
甲辰-己巳-甲子
戊辰-甲寅-庚寅
丙子-丙申-乙亥
丙子-丙申-乙亥
丙子-丙申-乙亥
庚寅-壬午-壬午
壬辰-癸丑-壬戌
壬辰-癸丑-壬戌
己酉-辛未-甲午
戊寅-庚申-丙申
辛亥-戊戌-庚午
辛亥-戊戌-庚午
辛亥-戊戌-庚午
己卯-壬申-乙未
戊申-壬戌-戊午
戊申-壬戌-戊午
戊申-壬戌-戊午
乙酉-癸未-甲午
甲午-甲戌-癸丑
甲午-甲戌-癸丑
甲午-甲戌-癸丑
丁酉-戊申-乙卯
丁酉-戊申-乙卯
丙申-癸巳-甲戌
辛亥-己亥-辛亥
壬辰-辛亥-己未
庚辰-戊子-己酉
己卯-癸酉-壬申
甲午-丙子-辛亥
庚子-戊子-丙申
辛丑-庚寅-辛未
辛丑-庚寅-辛未
辛丑-庚寅-辛未
辛丑-庚寅-辛未
辛丑-庚寅-辛未
辛丑-庚寅-辛未
丁酉-丙午-丁巳
甲辰-丁卯-己未
丙午-癸巳-戊辰
甲辰-己巳-己巳
甲辰-己巳-己巳
甲辰-己巳-己巳
甲寅-丙寅-己卯
辛巳-辛丑-壬戌
辛巳-辛丑-壬戌
丁未-丙午-己巳
丁未-丙午-己巳
戊戌-乙卯-乙巳
戊戌-乙卯-乙巳
戊戌-乙卯-乙巳
癸卯-己未-庚午
癸亥-乙卯-己未
丁亥-己酉-丙辰
甲子-甲戌-丁丑
甲子-甲戌-丁丑
乙未-己卯-丁卯
乙未-己卯-丁卯
乙未-己卯-丁卯
乙未-己卯-丁卯
乙未-己卯-丁卯
乙未-己卯-丁卯
甲辰-己巳-己巳
甲辰-己巳-己巳
甲辰-己巳-己巳
丁丑-壬子-癸巳
甲辰-戊辰-庚子
甲辰-戊辰-庚子
甲辰-戊辰-庚子
戊子-辛酉-丙辰
戊子-辛酉-丙辰
辛卯-壬辰-丁亥
辛卯-壬辰-丁亥
癸酉-乙卯-甲申
癸酉-甲子-壬申
甲午-庚午-丁巳
壬子-癸卯-戊戌
壬子-癸卯-戊戌
壬子-癸卯-戊戌
壬子-癸卯-戊戌
庚寅-壬午-辛巳
庚寅-壬午-辛巳
庚寅-壬午-辛巳
庚辰-庚辰-己亥
庚辰-庚辰-己亥
庚辰-庚辰-己亥
壬子-甲辰-甲申
壬子-甲辰-甲申
乙未-庚辰-戊午
丁丑-乙巳-庚申
丙申-甲午-己酉
丙申-甲午-己酉
丙申-甲午-己酉
丙申-甲午-己酉
丙申-甲午-己酉
丙申-甲午-己酉
丙申-甲午-己酉
癸未-乙丑-甲申
癸巳-辛酉-癸亥
癸巳-辛酉-癸亥
壬申-丁未-壬子
丙午-戊戌-丙辰
丙午-戊戌-丙辰
丙午-戊戌-丙辰
丙午-戊戌-丙辰
丙午-戊戌-丙辰
丙午-戊戌-丙辰
丙午-戊戌-丙辰
丙午-戊戌-丙辰
丙午-戊戌-丙辰
丙午-戊戌-丙辰
丙午-戊戌-丙辰
丙午-戊戌-丙辰
丙午-戊戌-丙辰
丁酉-己酉-丙戌
丁酉-己酉-丙戌
丁酉-甲辰-丙辰
丁酉-甲辰-丙辰
丁酉-甲辰-丙辰
丁酉-甲辰-丙辰
壬子-甲辰-甲申
壬子-甲辰-甲申
丁未-丙午-丙辰
丁未-丙午-丙辰
壬子-癸卯-戊戌
壬子-癸卯-戊戌
壬子-癸卯-戊戌
壬子-癸卯-戊戌
乙亥-庚辰-丙寅
乙亥-庚辰-丙寅
丙午-戊戌-丙辰
丙午-戊戌-丙辰
丙午-戊戌-丙辰
丙午-戊戌-丙辰
丙午-戊戌-丙辰
丙午-戊戌-丙辰
丙午-戊戌-丙辰
丙午-戊戌-丙辰
丙午-戊戌-丙辰
丙午-戊戌-丙辰
丙午-戊戌-丙辰
丙午-戊戌-丙辰
丙午-戊戌-丙辰
甲子-己巳-丙辰
甲辰-丁丑-癸酉
辛卯-庚子-丙申
辛卯-庚子-丙申
癸酉-甲子-壬申
庚戌-戊子-戊辰
壬戌-庚戌-甲子
庚戌-戊寅-壬午
丙辰-乙未-丁亥
甲辰-乙亥-甲申
甲辰-乙亥-甲申
甲辰-乙亥-甲申
甲辰-乙亥-甲申
甲辰-乙亥-甲申
甲辰-乙亥-甲申
甲辰-乙亥-甲申
甲辰-乙亥-甲申
甲辰-乙亥-甲申
甲辰-乙亥-甲申
壬子-癸卯-戊戌
壬子-癸卯-戊戌
甲寅-庚午-丙申
甲寅-庚午-丙申
甲寅-庚午-丙申
甲寅-庚午-丙申
辛未-乙未-乙酉
乙巳-庚辰-丁巳
庚申-戊寅-戊申
壬戌-癸卯-辛丑
辛丑-戊戌-庚寅
丁酉-甲辰-丙辰
丁酉-甲辰-丙辰
丁酉-甲辰-丙辰
丁酉-甲辰-丙辰
戊子-己未-乙卯
乙巳-庚辰-丁巳
己酉-戊辰-丙寅
壬午-壬子-己未
壬午-壬子-己未
丁未-丙午-壬寅
壬子-癸丑-乙巳
癸丑-甲子-己卯
壬子-乙巳-辛丑
壬子-甲辰-甲申
壬子-甲辰-甲申
乙卯-癸未-癸未
丁亥-丁未-己酉
甲辰-乙亥-甲申
甲辰-乙亥-甲申
甲辰-乙亥-甲申
甲辰-乙亥-甲申
甲辰-乙亥-甲申
甲辰-乙亥-甲申
甲辰-乙亥-甲申
甲辰-乙亥-甲申
甲辰-乙亥-甲申
甲辰-乙亥-甲申
己丑-丙子-癸未
己丑-丙子-癸未
丙午-乙未-戊子
庚午-甲申-甲午
丁未-丙午-丙辰
丁未-丙午-丙辰
癸丑-乙丑-庚午
壬子-甲辰-甲申
壬子-甲辰-甲申
乙巳-乙酉-己卯
丁未-己酉-癸巳
辛丑-庚寅-丁丑
癸未-甲寅-庚戌
癸未-甲寅-庚戌
癸未-甲寅-庚戌
癸未-甲寅-庚戌
丁丑-壬子-癸巳
壬午-丁未-癸未
乙卯-戊子-辛卯
乙卯-戊子-辛卯
丁巳-丙午-癸丑
壬戌-癸卯-辛丑
乙丑-庚辰-癸巳
癸卯-甲子-丁未
丙辰-己亥-乙亥
丙辰-己亥-乙亥
辛丑-癸巳-庚戌
癸卯-辛酉-乙亥
甲寅-甲戌-庚子
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
丙午-丁酉-癸未
辛卯-辛卯-戊辰
甲辰-戊辰-辛卯
乙巳-癸未-癸酉
丙申-戊戌-己巳
己酉-乙亥-辛亥
乙巳-乙酉-己丑
庚子-癸未-己未
壬子-甲辰-甲申
壬子-甲辰-甲申
辛卯-癸巳-己巳
乙巳-癸未-戊辰
癸亥-丁巳-庚子
己酉-丙子-己卯
己酉-丙子-己卯
戊辰-辛酉-甲戌
癸卯-己未-戊辰
丁酉-丙午-甲子
丁未-壬子-辛未
丁未-壬子-辛未
丁未-壬子-辛未
己丑-丁丑-癸亥
己卯-癸酉-丁巳
庚寅-戊子-壬寅
丙午-辛丑-庚辰
戊申-丁巳-甲午
辛丑-丁酉-壬戌
辛丑-癸巳-甲子
辛丑-癸巳-甲子
辛丑-癸巳-甲子
辛丑-癸巳-甲子
辛丑-癸巳-甲子
戊子-壬戌-丙寅
己酉-丁卯-戊申
己酉-丁卯-戊申
乙亥-癸未-壬寅
乙未-甲申-辛酉
辛卯-辛卯-甲寅
庚辰-戊寅-壬午
丙申-丁酉-丙午
辛丑-庚子-庚子
癸亥-丁巳-戊戌
甲辰-癸酉-辛酉
甲辰-乙亥-甲申
壬寅-丙午-乙酉
庚戌-癸未-己丑
辛巳-辛丑-丙戌
辛巳-辛丑-丙戌
乙巳-戊子-戊午
乙巳-戊子-戊午
乙巳-戊寅-辛丑
癸丑-甲寅-甲午
戊戌-丙辰-丙寅
戊戌-丙辰-丙寅
戊戌-己未-己酉
戊戌-己未-己酉
乙未-壬午-丁未
乙未-壬午-丁未
乙卯-癸未-乙卯
甲子-甲戌-丁丑
甲子-甲戌-丁丑
癸丑-己未-癸亥
癸丑-己未-癸亥
辛丑-辛卯-丙午
辛丑-辛卯-丙午
辛丑-辛卯-丙午
辛丑-辛卯-丙午
甲子-甲戌-丁丑
甲子-甲戌-丁丑
壬寅-辛亥-癸亥
壬寅-壬子-甲辰
辛亥-庚子-壬午
丙戌-甲午-己未
丙戌-甲午-己未
丙戌-甲午-己未
丙戌-甲午-己未
丙戌-甲午-己未
癸巳-己未-己卯
癸巳-己未-己卯
戊午-庚申-壬子
癸巳-己未-己卯
癸巳-己未-己卯
乙卯-丁亥-壬申
己酉-甲戌-丁丑
乙丑-庚辰-丁亥
乙未-辛巳-己卯
癸卯-己未-甲戌
癸卯-己未-甲戌
癸卯-己未-甲戌
壬子-癸卯-丁巳
丙午-庚子-乙丑
乙巳-乙酉-癸未
乙巳-乙酉-癸未
乙巳-乙酉-癸未
癸丑-甲子-甲辰
丁亥-癸卯-壬寅
癸巳-乙丑-乙酉
癸巳-乙丑-乙酉
己酉-乙亥-癸丑
己酉-乙亥-癸丑
己酉-乙亥-癸丑
己酉-乙亥-癸丑
己酉-乙亥-癸丑
己酉-乙亥-癸丑
己酉-乙亥-癸丑
丁卯-辛亥-癸酉
丁卯-辛亥-癸酉
丁卯-辛亥-癸酉
丁卯-辛亥-癸酉
丁卯-辛亥-癸酉
丁卯-辛亥-癸酉
丁卯-辛亥-癸酉
丁卯-辛亥-癸酉
丁卯-辛亥-癸酉
丁卯-辛亥-癸酉
丁卯-辛亥-癸酉
丁卯-辛亥-癸酉
丁卯-辛亥-癸酉
丁卯-辛亥-癸酉
乙卯-壬午-丁亥
戊寅-戊午-丙子
甲寅-己巳-壬戌
丙戌-乙未-丁未
己亥-丙子-戊子
                     Name   Birthday  Year  Month  Day  Age  \
0               Elon Musk 1971-06-28  1971      6   28   53
1               Elon Musk 1971-06-28  1971      6   28   53
2               Elon Musk 1971-06-28  1971      6   28   53
3               Elon Musk 1971-06-28  1971      6   28   53
4               Elon Musk 1971-06-28  1971      6   28   53
..                    ...        ...   ...    ...  ...  ...
449        Julia Stoschek 1975-06-10  1975      6   10   49
450        Laurence Graff 1938-06-13  1938      6   13   86
451         Alexei Khotin 1974-05-21  1974      5   21   50
452         Peter Smedvig 1946-08-01  1946      8    1   78
453  Christopher Chandler 1960-01-01  1960      1    1   64

     Net Worth (billions)     Source of Wealth  \
0                   270.1                    X
1                   270.1               SpaceX
2                   270.1          Tesla, Inc.
3                   270.1   The Boring Company
4                   270.1                X.com
..                    ...                  ...
449                   1.0  Brose Fahrzeugteile
450                   1.0       Graff Diamonds
451                   1.0            Bank Ugra
452                   1.0              Smedvig
453                   1.0              Legatum

                       Industry type Industry Element  \
0                         Technology             fire
1                           Aviation             fire
2                         Automotive            metal
3    Infrastructure and Construction            earth
4                         Technology             fire
..                               ...              ...
449                       Automotive            metal
450                          Jewelry            metal
451               Financial Services            earth
452                           Energy             fire
453                      Investment             metal

    Secondary indystry element        bazi
0                          NaN  [辛亥-甲午-甲申]
1                          NaN  [辛亥-甲午-甲申]
2                          NaN  [辛亥-甲午-甲申]
3                          NaN  [辛亥-甲午-甲申]
4                          NaN  [辛亥-甲午-甲申]
..                         ...         ...
449                        NaN  [乙卯-壬午-丁亥]
450                        NaN  [戊寅-戊午-丙子]
451                        NaN  [甲寅-己巳-壬戌]
452                        NaN  [丙戌-乙未-丁未]
453                      water  [己亥-丙子-戊子]

[454 rows x 12 columns]

In [ ]:
# Ensure the 'bazi' column is of string type
df['bazi'] = df['bazi'].astype(str)

# Remove the '[' and ']' from the 'bazi' column
df['bazi'] = df['bazi'].str.replace('[', '').str.replace(']', '')
# Remove the '-' from the 'bazi' column
df['bazi'] = df['bazi'].str.replace('-', '')
# Remove the '[', ']', '-', and "'" from the 'bazi' column
df['bazi'] = df['bazi'].str.replace('[', '').str.replace(']', '').str.replace('-', '').str.replace("'", '')

# Function to split the 'bazi' column into 6 new columns
def split_bazi_column(df):
    # Split the 'bazi' column into individual characters
    bazi_split = df['bazi'].apply(list)

    # Assign each character to the corresponding new column
    df['yearTian'] = bazi_split.apply(lambda x: x[0])
    df['yearDi'] = bazi_split.apply(lambda x: x[1])
    df['monthTian'] = bazi_split.apply(lambda x: x[2])
    df['monthDi'] = bazi_split.apply(lambda x: x[3])
    df['dayTian'] = bazi_split.apply(lambda x: x[4])
    df['dayDi'] = bazi_split.apply(lambda x: x[5])

# Call the function
split_bazi_column(df)

# Display the updated DataFrame
print(df)

                     Name   Birthday  Year  Month  Day  Age  \
0               Elon Musk 1971-06-28  1971      6   28   53
1               Elon Musk 1971-06-28  1971      6   28   53
2               Elon Musk 1971-06-28  1971      6   28   53
3               Elon Musk 1971-06-28  1971      6   28   53
4               Elon Musk 1971-06-28  1971      6   28   53
..                    ...        ...   ...    ...  ...  ...
449        Julia Stoschek 1975-06-10  1975      6   10   49
450        Laurence Graff 1938-06-13  1938      6   13   86
451         Alexei Khotin 1974-05-21  1974      5   21   50
452         Peter Smedvig 1946-08-01  1946      8    1   78
453  Christopher Chandler 1960-01-01  1960      1    1   64

     Net Worth (billions)     Source of Wealth  \
0                   270.1                    X
1                   270.1               SpaceX
2                   270.1          Tesla, Inc.
3                   270.1   The Boring Company
4                   270.1                X.com
..                    ...                  ...
449                   1.0  Brose Fahrzeugteile
450                   1.0       Graff Diamonds
451                   1.0            Bank Ugra
452                   1.0              Smedvig
453                   1.0              Legatum

                       Industry type Industry Element  \
0                         Technology             fire
1                           Aviation             fire
2                         Automotive            metal
3    Infrastructure and Construction            earth
4                         Technology             fire
..                               ...              ...
449                       Automotive            metal
450                          Jewelry            metal
451               Financial Services            earth
452                           Energy             fire
453                      Investment             metal

    Secondary indystry element    bazi yearTian yearDi monthTian monthDi  \
0                          NaN  辛亥甲午甲申        辛      亥         甲       午
1                          NaN  辛亥甲午甲申        辛      亥         甲       午
2                          NaN  辛亥甲午甲申        辛      亥         甲       午
3                          NaN  辛亥甲午甲申        辛      亥         甲       午
4                          NaN  辛亥甲午甲申        辛      亥         甲       午
..                         ...     ...      ...    ...       ...     ...
449                        NaN  乙卯壬午丁亥        乙      卯         壬       午
450                        NaN  戊寅戊午丙子        戊      寅         戊       午
451                        NaN  甲寅己巳壬戌        甲      寅         己       巳
452                        NaN  丙戌乙未丁未        丙      戌         乙       未
453                      water  己亥丙子戊子        己      亥         丙       子

    dayTian dayDi
0         甲     申
1         甲     申
2         甲     申
3         甲     申
4         甲     申
..      ...   ...
449       丁     亥
450       丙     子
451       壬     戌
452       丁     未
453       戊     子

[454 rows x 18 columns]

In [ ]:
# Create a dictionary to map each character to its corresponding element
element_mapping = {
    u"甲": "wood",
    u"乙": "wood",
    u"丙": "fire",
    u"丁": "fire",
    u"戊": "earth",
    u"己": "earth",
    u"庚": "metal",
    u"辛": "metal",
    u"壬": "water",
    u"癸": "water"
}

# Print the mapping
for character in CHINESE_10_1:
    print(f"{character}: {element_mapping[character]}")

甲: wood
乙: wood
丙: fire
丁: fire
戊: earth
己: earth
庚: metal
辛: metal
壬: water
癸: water

In [ ]:
# Define the mapping of CHINESE_12_1 to 5 elements
#CHINESE_12_1 = [u"子", u"丑", u"寅", u"卯", u"辰", u"巳", u"午", u"未", u"申", u"酉", u"戌", u"亥"]

# Create a dictionary to map each character to its corresponding element
element_mapping_12 = {
    u"子": "water",
    u"丑": "earth",
    u"寅": "wood",
    u"卯": "wood",
    u"辰": "earth",
    u"巳": "fire",
    u"午": "fire",
    u"未": "earth",
    u"申": "metal",
    u"酉": "metal",
    u"戌": "earth",
    u"亥": "water"
}

# Print the mapping
for character in CHINESE_12_1:
    print(f"{character}: {element_mapping_12[character]}")

子: water
丑: earth
寅: wood
卯: wood
辰: earth
巳: fire
午: fire
未: earth
申: metal
酉: metal
戌: earth
亥: water

In [ ]:
# Function to map Tian columns to elements and save to new columns
def map_tian_to_elements(df):
    df['yearTianElement'] = df['yearTian'].map(element_mapping)
    df['monthTianElement'] = df['monthTian'].map(element_mapping)
    df['dayTianElement'] = df['dayTian'].map(element_mapping)

# Call the function to map Tian columns to elements
map_tian_to_elements(df)

# Display the updated DataFrame
print(df)

                     Name   Birthday  Year  Month  Day  Age  \
0               Elon Musk 1971-06-28  1971      6   28   53
1               Elon Musk 1971-06-28  1971      6   28   53
2               Elon Musk 1971-06-28  1971      6   28   53
3               Elon Musk 1971-06-28  1971      6   28   53
4               Elon Musk 1971-06-28  1971      6   28   53
..                    ...        ...   ...    ...  ...  ...
449        Julia Stoschek 1975-06-10  1975      6   10   49
450        Laurence Graff 1938-06-13  1938      6   13   86
451         Alexei Khotin 1974-05-21  1974      5   21   50
452         Peter Smedvig 1946-08-01  1946      8    1   78
453  Christopher Chandler 1960-01-01  1960      1    1   64

     Net Worth (billions)     Source of Wealth  \
0                   270.1                    X
1                   270.1               SpaceX
2                   270.1          Tesla, Inc.
3                   270.1   The Boring Company
4                   270.1                X.com
..                    ...                  ...
449                   1.0  Brose Fahrzeugteile
450                   1.0       Graff Diamonds
451                   1.0            Bank Ugra
452                   1.0              Smedvig
453                   1.0              Legatum

                       Industry type Industry Element  ...    bazi yearTian  \
0                         Technology             fire  ...  辛亥甲午甲申        辛
1                           Aviation             fire  ...  辛亥甲午甲申        辛
2                         Automotive            metal  ...  辛亥甲午甲申        辛
3    Infrastructure and Construction            earth  ...  辛亥甲午甲申        辛
4                         Technology             fire  ...  辛亥甲午甲申        辛
..                               ...              ...  ...     ...      ...
449                       Automotive            metal  ...  乙卯壬午丁亥        乙
450                          Jewelry            metal  ...  戊寅戊午丙子        戊
451               Financial Services            earth  ...  甲寅己巳壬戌        甲
452                           Energy             fire  ...  丙戌乙未丁未        丙
453                      Investment             metal  ...  己亥丙子戊子        己

    yearDi monthTian monthDi dayTian dayDi yearTianElement monthTianElement  \
0        亥         甲       午       甲     申           metal             wood
1        亥         甲       午       甲     申           metal             wood
2        亥         甲       午       甲     申           metal             wood
3        亥         甲       午       甲     申           metal             wood
4        亥         甲       午       甲     申           metal             wood
..     ...       ...     ...     ...   ...             ...              ...
449      卯         壬       午       丁     亥            wood            water
450      寅         戊       午       丙     子           earth            earth
451      寅         己       巳       壬     戌            wood            earth
452      戌         乙       未       丁     未            fire             wood
453      亥         丙       子       戊     子           earth             fire

    dayTianElement
0             wood
1             wood
2             wood
3             wood
4             wood
..             ...
449           fire
450           fire
451          water
452           fire
453          earth

[454 rows x 21 columns]

In [ ]:
# Function to map Di columns to elements and save to new columns
def map_di_to_elements(df):
    df['yearDiElement'] = df['yearDi'].map(element_mapping_12)
    df['monthDiElement'] = df['monthDi'].map(element_mapping_12)
    df['dayDiElement'] = df['dayDi'].map(element_mapping_12)

# Call the functions to map  Di columns to elements
map_di_to_elements(df)

# Display the updated DataFrame
print(df)

                     Name   Birthday  Year  Month  Day  Age  \
0               Elon Musk 1971-06-28  1971      6   28   53
1               Elon Musk 1971-06-28  1971      6   28   53
2               Elon Musk 1971-06-28  1971      6   28   53
3               Elon Musk 1971-06-28  1971      6   28   53
4               Elon Musk 1971-06-28  1971      6   28   53
..                    ...        ...   ...    ...  ...  ...
449        Julia Stoschek 1975-06-10  1975      6   10   49
450        Laurence Graff 1938-06-13  1938      6   13   86
451         Alexei Khotin 1974-05-21  1974      5   21   50
452         Peter Smedvig 1946-08-01  1946      8    1   78
453  Christopher Chandler 1960-01-01  1960      1    1   64

     Net Worth (billions)     Source of Wealth  \
0                   270.1                    X
1                   270.1               SpaceX
2                   270.1          Tesla, Inc.
3                   270.1   The Boring Company
4                   270.1                X.com
..                    ...                  ...
449                   1.0  Brose Fahrzeugteile
450                   1.0       Graff Diamonds
451                   1.0            Bank Ugra
452                   1.0              Smedvig
453                   1.0              Legatum

                       Industry type Industry Element  ... monthTian monthDi  \
0                         Technology             fire  ...         甲       午
1                           Aviation             fire  ...         甲       午
2                         Automotive            metal  ...         甲       午
3    Infrastructure and Construction            earth  ...         甲       午
4                         Technology             fire  ...         甲       午
..                               ...              ...  ...       ...     ...
449                       Automotive            metal  ...         壬       午
450                          Jewelry            metal  ...         戊       午
451               Financial Services            earth  ...         己       巳
452                           Energy             fire  ...         乙       未
453                      Investment             metal  ...         丙       子

    dayTian dayDi yearTianElement monthTianElement dayTianElement  \
0         甲     申           metal             wood           wood
1         甲     申           metal             wood           wood
2         甲     申           metal             wood           wood
3         甲     申           metal             wood           wood
4         甲     申           metal             wood           wood
..      ...   ...             ...              ...            ...
449       丁     亥            wood            water           fire
450       丙     子           earth            earth           fire
451       壬     戌            wood            earth          water
452       丁     未            fire             wood           fire
453       戊     子           earth             fire          earth

    yearDiElement monthDiElement dayDiElement
0           water           fire        metal
1           water           fire        metal
2           water           fire        metal
3           water           fire        metal
4           water           fire        metal
..            ...            ...          ...
449          wood           fire        water
450          wood           fire        water
451          wood           fire        earth
452         earth          earth        earth
453         water          water        water

[454 rows x 24 columns]

In [ ]:
# Export the updated DataFrame to an Excel file
df.to_excel('updated_billionnaire.xlsx', index=False)

print("The DataFrame has been successfully exported to 'updated_billionnaire.xlsx'.")

The DataFrame has been successfully exported to 'updated_billionnaire.xlsx'.

In [ ]:
# Import necessary libraries
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# Sample data (replace with your dataset)
X = np.array([[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]])
y = np.array([0, 1, 0, 1, 0])

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Decision Tree Classifier
clf = DecisionTreeClassifier()

# Train the model
clf.fit(X_train, y_train)

# Make predictions
y_pred = clf.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)

print(f'Accuracy: {accuracy * 100:.2f}%')

Accuracy: 0.00%